h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 54px;
}

#shell{
  background-color: #4d07b5;
  height: 600px;
  width: 500px;
  margin: 0 auto;
  border-radius: 100px;
  padding-top: 50px;
  border: 20px outset #2a0462;
}

#screen{
  background-color: #9cd8f0;
  height: 350px;
  width: 350px;
  margin: 0 auto;
  border-radius: 50px;
  position: relative;
  text-indent: 10px;
  color: black;
  border: 10px inset #4d07b5;
  font-family: 'Roboto', sans-serif;
}

#buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-right: 35px;
}

#left {
  margin-right: 0;
}

#middle {
  margin-right: 0;
}

.button {
  height: 70px;
  width: 70px;
  background-color: #f2de5c;
  margin-top: 60px;
  list-style: none;
  border-radius: 30px;
  text-align: center;
  line-height: 70px;
  color: black;
  font-family: 'Roboto', sans-serif;
  border: outset 6px #473e06;
}

#pet {
  height: 50px;
  width: 50px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: block;
  position: absolute;
}

#petDead {
  height: 350px;
  width: 350px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: block;
  position: absolute;
  border: 10px inset #4d07b5;
  border-radius: 50px;
}

#bigwin{
  position: absolute;
  height: 300px;
  opacity: 0%;
  z-index: 99;
  margin-right: 25%;
  margin-top: 5%;
}
