h1{
  text-align: center
}

#shell{
  background-color: #4d07b5;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border-radius: 100px;
  padding-top: 50px;
}

#screen{
  background-color: #9cd8f0;
  height: 350px;
  width: 350px;
  margin: 0 auto;
  border-radius: 50px;
  position: relative;
  text-indent: 10px;
  color: black;
}

#buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-right: 35px;
}

#left {
  margin-right: 0;
}

#middle {
  margin-right: 0;
}

.button {
  height: 70px;
  width: 70px;
  background-color: #f2de5c;
  margin-top: 30px;
  list-style: none;
  border-radius: 30px;
  text-align: center;
  line-height: 70px;
  color: black;
}

img {
  height: 50px;
  width: 50px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: block;
  position: absolute;
}

#petDead {
  height: 350px;
  width: 350px;
}
